html{
    background-color: rgb(48, 81, 92)
}

#map{
    display: flex;
    border: 5px black solid;
    border-radius: 4px;
    height: 890px;
    width: 80%;
    margin: 12px auto;

}

#map ~ img{
    width: 50px !important;
    height: 50px !important;
}

h1{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



